.matchContainer {
    width: 100%;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .matchContainer {
        padding-left: 0;
    }
}

.container {
    text-align: left;
    margin: 20px;
    position: relative;
}

.title {
    margin-top: 0;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tabs {
    margin-top: 0;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.tabButton {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    color: black;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

.tabButton:hover {
    color: red;
}

.active {
    color: red;
}

.underline {
    margin-top: 0;
    position: relative;
    bottom: 0;
    height: 4px;
    width: 170px;
    background-color: red;
    transition: left 0.3s ease;
}

.content {
    margin-top: 20px;
}

.matchList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.matchItem {
    margin-top: 12px;
    padding: 0;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 10px 0;
}

.monthTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize; /* Делает первую букву заглавной */
    color: #333;
}

iframe {
    left: 0;
    right: 0;
    margin: auto;
}
