.image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-family: MuseoSansCyrl;
    font-size: 64px;
    font-weight: 900;
    color: #fff;
}

.priceBlock {
    font-family: MuseoSansCyrl;
    font-size: 64px;
    font-weight: 700;
    color: #d6d6d6;
}

.price {
    font-family: MuseoSansCyrl;
    font-size: 96px;
    font-weight: 900;
    color: #ffffff;
}

@media (max-width: 1440px) {
    .image {
        padding: 48px;
    }

    .name {
        font-size: 48px;
    }

    .priceBlock {
        font-size: 48px;
    }

    .price {
        font-size: 64px;
    }
}

@media (max-width: 1024px) {
    .image {
        padding: 32px;
    }

    .name {
        font-size: 36px;
    }

    .priceBlock {
        font-size: 36px;
    }

    .price {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .image {
        padding: 24px;
    }

    .name {
        font-size: 32px;
    }

    .priceBlock {
        font-size: 28px;
    }

    .price {
        font-size: 32px;
    }
}
