.navbar {
    position: fixed; /* Фиксируем NavBar */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    z-index: 1000;
}

.block {
    height: 32px;
    padding: 10px 15px 10px 15px;
    margin: 5px;
    border-radius: 10px;
    background-color: #f0f0f0;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 40px;
}

.link {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.activeLink {
    color: blue;
    font-weight: bold;
}
