.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    width: 600px;
    max-width: 90%;
    max-height: 90vh;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto; /* Прокрутка для всего модального окна */
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.imageContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
}

.newsImage {
    width: 100%;
    height
    : 100%;
    object-fit: cover;
}

.newsTitle {
    margin: 0px 0 10px;
    font-size: 36px;
    color: #333;
}

.newsDescription {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    white-space: pre-wrap;
    margin-bottom: 20px; /* Отступ от блока описания до блока комментариев */
}

.commentsSection {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd; /* Разделительная линия между описанием и комментариями */
}

.commentsTitle {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.closeIcon {
    width: 24px;
    height: 24px;
    fill: #333;
    transition: fill 0.2s;
}

.closeIcon:hover {
    fill: #f00;
}

h1 {

}