.footer {
    font-family: Poppins;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding: 32px 120px;
    background: #e22726;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

.block {
    display: flex;
}

.infoBlock {
    gap: 20px;
    justify-content: space-between;
    flex: 1;
}

.logoBlock {
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
}

.logoBlock > img {
    width: 92px;
    height: 92px;
}

.linksBlock {
    flex-direction: column;
    gap: 13px;
}

.linksBlock > a {
    outline: none;
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

.iconsBlock {
    gap: 40px;
}

.iconsBlock > img {
    width: 44px;
    height: 44px;
}
