.page {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 64px 120px;
    gap: 40px;
}

.headerBlock {
    display: flex;
    align-items: flex-end;
}

.backButton {
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MuseoSansCyrl;
    font-size: 24px;
    font-weight: 500;
    color: #707070;
    cursor: pointer;
}

.mainBlock {
    display: flex;
    gap: 32px;
}

.navigationBlock {
    gap: 16px;
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 16px;
}

.navigationItem {
    font-family: MuseoSansCyrl;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    color: #a8a8b7;
}

.navigationItemSelected {
    font-weight: 700;
    color: #343434;
}

.contentBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 43px;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.title {
    font-family: MuseoSansCyrl;
    font-size: 48px;
    font-weight: 900;
    color: #525252;
    text-transform: uppercase;
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 32px;
    gap: 96px;
    background: #e22726;
    border-radius: 99px;
}

.editButton > span {
    text-transform: uppercase;
    font-family: MuseoSansCyrl;
    font-size: 24px;
    font-weight: 700;
    color: #f9f9f9;
}

@media (max-width: 1440px) {
    .page {
        padding: 48px 96px;
    }

    .title {
        font-size: 36px;
    }

    .editButton {
        padding: 16px 28px;
        gap: 64px;
    }

    .editButton > span {
        font-size: 20px;
    }

    .navigationBlock {
        padding: 36px 28px;
    }

    .navigationItem {
        font-size: 20px;
    }
}

@media (max-width: 1024px) {
    .page {
        padding: 32px 64px;
    }

    .title {
        font-size: 24px;
    }

    .editButton {
        padding: 14px 24px;
        gap: 48px;
    }

    .editButton > span {
        font-size: 18px;
    }

    .navigationBlock {
        padding: 32px 24px;
    }

    .navigationItem {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .page {
        padding: 24px 64px;
    }

    .title {
        font-size: 20px;
    }

    .editButton {
        padding: 12px 20px;
        gap: 48px;
    }

    .editButton > span {
        font-size: 16px;
    }

    .navigationBlock {
        padding: 28px 20px;
    }

    .navigationItem {
        font-size: 16px;
    }
}
